.form-container{
  background-color: #f9f9f9;
}

.button-size {
  width: 70px;
  height: 60px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; 
}