
.form-container{
  background-color: #f9f9f9;
}

.button-size {
  width: 70px;
  height: 60px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  color: black;
  opacity: 0.6;
  transition: all 0.2s !important;
}

.button-size:hover{
  opacity: 1;
  transform: translateY(-3px);
}
.btn-delete{
  transition: all 1s;
}
.btn-delete:hover{
  color: red !important;
  opacity: 1;
}
.form-container {
  box-sizing: border-box;
  overflow-x: hidden !important;
}


@media (max-width: 500px) {
  .container-fluid{
    padding: 0px !important;
  }
}


.insta{
 width: 26px !important;
}
.wpp{
  width: 16px !important;

}
